# Virtual environment
.venv/
venv/
ENV/
youtube_rag_db
chroma.sqlite3
# Python byte-code / caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables and secrets
.env
.env.local

# IDEs and editors
.vscode/
.idea/
*.swp

# Packaging and distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/wheels/
*.egg-info/

# Testing and coverage
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
